In [4]:
from sqlalchemy import create_engine
import pandas as pd
from config import password
import numpy as np
import matplotlib.pyplot as plt

In [10]:
# Postgres username, password, and database name
POSTGRES_ADDRESS = 'localhost' 
POSTGRES_PORT = '5432'
POSTGRES_USERNAME = 'postgres' 
POSTGRES_PASSWORD = password 
POSTGRES_DBNAME = 'AirQuality_DB'
# A long string that contains the necessary Postgres login information
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
    .format(username=POSTGRES_USERNAME, 
    password=POSTGRES_PASSWORD, 
    ipaddress=POSTGRES_ADDRESS, 
    port=POSTGRES_PORT,  
    dbname=POSTGRES_DBNAME)) 
# Create the connection
engine = create_engine(postgres_str) 
connection = engine.connect()

In [11]:
county_table = pd.read_sql_table('County', connection)  
county_table.head()

   county_code county_name
0            1     Alameda
1            3      Alpine
2            5      Amador
3            7       Butte
4            9   Calaveras